body {
     background: linear-gradient(to right,
               purple 0%,
               purple 20%,
               gold 40%,
               green);
}

/* .container {
     padding: 0%;
     margin: 0%;
     background-color: pink;
     box-sizing: border-box;
     border: 5px solid, black;
     justify-content: center;
     width: 50vw;
     height: 50vh;
     float: center;
} */

.time {
     text-align: center;
     margin: 1.5rem;
     justify-content: center;
}

/* .row {
     text-size-adjust: 10%;
     display: flex;
     justify-content: center;
} */

.card-body {
     text-align: center;
     font-weight: bold;
}

.Start_page {
     color: black;
}

#Start-btn {
     background-color: green;
     font-weight: bold;
}


#questions {
     box-sizing: border-box;
     font-weight: bold;
}

#options {
     text-align: left;
}

#prev {
     float: left;
}

#next {
     float: right;
}